*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    background-color: #000;
    padding: 70px 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
header nav{
    padding: 10px 450px;
}
header nav li{
    float: left;
}
header nav li a{
    margin: 10px;
    color: #fff;
}
.mgd{
    color: black;
}
p{
    padding-left: 60px;
    color: #000;
}
.DIDIYUTI{
    width: 99%;
    height: 510px;
    margin: 0 auto;
    background-color: #4ce11e;
}
.font{
    color: rgb(232, 6, 6);
    padding-top: 10px;
    padding-bottom: 5px;
}
.POISON{
    width: 100%;
    height: 200px;
    background-color: azure;
    margin: 0 auto;
}
.ivy{
    width: 33.33%;
    height: 200px;
    float: left;
    overflow: hidden;
    background-color: darkmagenta;
}
.ivy img{
    width: 100%;
    opacity: 1;
    margin-top: -50px;
}
.meore{
    background-color: darkseagreen;
}
.meore img{
    width: 100%;
    opacity: 1;
    margin-top: -100px;
}
.mesame{
    background-color: lightcoral;
}
.mesame  img{
    width: 100%;
    opacity: 1;
}
