*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    background-color: #000;
    padding: 70px 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
header nav{
    padding: 10px 450px;
}
header nav li{
    float: left;
}
header nav li a{
    margin: 10px;
    color: #fff;
}
.mgd{
    color: black;
}
p{
    padding-left: 60px;
    color: #000;
}
.DIDIYUTI{
    width: 99%;
    height: 510px;
    margin: 0 auto;
    background-color: #979097;
}
.FONT{
    color: #4ad354;
    padding-top: 10px;
    padding-bottom: 5px;
}
.SAMIKATA{
    width: 100%;
    height: 200px;
    overflow: hidden;
    opacity: 1;
    background-color: rgb(76, 222, 229)
}
.kalikata{
    width: 33.33%;
    height: 200px;
    background-color: crimson;
    float: left;
}
.kalikata img{
    width: 100%;
    opacity: 1;
}
.meore2{
    background-color: darkslategrey;
}
.mesame3{
    background-color: rgb(253, 240, 255);
}
.meore2 img{
    width: 100%;
    opacity: 1;
}
.mesame3 img{
    width: 100%;
    opacity: 1;
}