*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    background-color: #000;
    padding: 70px 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
header nav{
    padding: 10px 450px;
}
header nav li{
    float: left;
}
header nav li a{
    margin: 10px;
    color: #fff;
}
.mgd{
    color: black;
}
p{
    padding-left: 60px;
    color: #000;
}
.didiyuti{
    width: 99%;
    height: 510px;
    margin: 0 auto;
    background-color: rgb(161, 33, 7);
}
.font{
    color: rgb(132, 168, 222);
    padding-top: 10px;
    padding-bottom: 5px;
}
.SAMIHARLI{
    width: 100%;
    height: 200px;
    background-color: rgb(105, 215, 215);
    opacity: 1;
    overflow: hidden;
}
.samiharli img{
    opacity: 1;
    width: 100%;
}
.samiharli{
    width: 33.33%;
    height: 200px;
    background-color: rgb(105, 205, 63);
    float: left;
}
.harli2{
    background-color: blue;
}
.harli2 img{
    opacity: 1;
    width: 100%;
}
.harli3{
    background-color: cornflowerblue;
}
.harli3 img{
    opacity: 1;
    width: 100%;
}
.hqq{
    color: cornflowerblue;
}