*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    padding: 70px 40px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin-bottom: 10px;
}
header nav{
    padding: 10px 450px;
}
header nav li {
    float: left;
}
header nav li a{
    margin: 10px;
    color: rgb(241, 241, 241);
}
.imgcontainer{
    height: 200px;
    width: 70%;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    opacity: 1;   
    overflow-x: hidden;
}
.imgcontainer img{
    opacity: 1; 
}
.SIAXLEEBI{
    width: 99%;
    margin: 0 auto;
    opacity: 1;
    overflow: hidden;
}
.tolisiaxleebi{
    width: 33.33%;
    height: 140px;
    background-color: rgb(237, 121, 121);
    float: left;
    margin-top: 10px;   
    overflow: hidden;
}
.tolisiaxleebi img{
    opacity: 1;
    width: 100%;
 margin-top: -80px;
    
}
.feri2{
    background-color: rgb(223, 168, 223);
}
.feri2 img{
    opacity: 1;
    width: 100%;
    margin-top: -80px;
}
.feri3{
    background-color: rgb(191, 137, 242);
}
.feri3 img{
    width: 100%;
    opacity: 1;
    margin-top: -160px;
}
.INFORMACIA{
    width: 99%;
    margin: 0 auto;
    opacity: 1;
    overflow: hidden;
}
.toliinformacia{width: 33.33%;
    height: 190px;
    background-color: rgb(176, 40, 40);
    float: left;
    margin-top: 10px;   
    overflow: hidden;
    margin-top: -3px;
}
.meore{
    background-color: #979097;
}
.mesame{
 background-color: #de8159;
}
